@page "/advertisement"


<h3>Advertisement</h3>
<NavLink class="nav-link" href="/addadvertisement" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"> Dodaj ogłoszenie</span> 
</NavLink>
<div class="col-md-6">
@foreach (var item in listOrders)
{
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="card" style="width: 18rem; margin-top: 10px">
                    <div class="card-body">
                        <h5 class="card-title">@item.Header</h5>
                        <p class="card-subtitle">@item.Country</p>
                        <p class="card-subtitle">@item.City</p>
                        <p class="card-text">@item.Text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>